.sidebar {
  width: 250px;
  padding: 20px 15px;
  text-align: center;
  height: 100vh;
  position: relative;
  border-right: 5px solid #ee8f4e;
}

.sidebar .logo img{
  height: 70px;
  cursor: pointer;
}
.links {
  margin-top: -10px;
}
.links button,
.logout button {
  display: flex;
  align-items: center;
  background: transparent;
  border: 2px solid transparent;
  padding: 12px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  width: 100%;
  text-align: left;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s linear;
}
.links button:hover,
.logout button:hover {
  border: 2px solid #ee8f4e;
  color: #ee8f4e;
}
.links button i,
.logout button i {
  font-size: 19px;
  margin-right: 20px;
}
.logout {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 30px;
}
.logout button{
    width: 90%;
}
